{% extends "base.html" %} <!-- reaproveitando código e foi tirado tudo o que se repete nas outras pages-->

{% block page_titulo %}
  Sua lista de tarefas
{% endblock page_titulo %}

{% block conteudo %}
<h1>Lista de Tarefas</h1>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Data de entrega</th>
                <th scope="col">Finalização</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefa_list %}
                    <tr>
                        <th scope="row">{{ tarefa.pk }}</th>
                        <td>{{ tarefa.titulo }}</td>
                        <td>{{ tarefa.data_criacao }}</td>
                        <td>{{ tarefa.data_entrega }}</td>
                        <td>{{ tarefa.data_finalizacao }}</td>
                        <td>
                          <a href="{% url "tarefa_complete" pk=tarefa.pk %}" class="btn btn-primary btn-sm {% if tarefa.data_finalizacao %}disabled{% endif %}">Concluir</a>
                          <a href="{% url "tarefa_uptade" pk=tarefa.pk %}" class="btn btn-warning btn-sm {% if tarefa.data_finalizacao %}disabled{% endif %}" >Editar</a>
                          <a href="{% url "tarefa_delete" pk=tarefa.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

          <a href="{% url 'tarefa_form' %}" class="btn btn-primary">Criar Nova tarefa</a>
{% endblock conteudo %}