<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Envio de e-email</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<form method="post">
    {% csrf_token %}
    <div class="mb-3" style= 'display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; '>
        <h1>Envie um Email</h1>
        <div>
            <label for="nome" class="form-label requiredField">Nome:<span class="asteriskField">*</span></label>
            <input type="text" name="nome" class="textinput form-control" placeholder="Digite seu nome" style="width: 500px; height: 50px;"/>
        </div>
        <br>
        <div>
            <label for="email" class="form-label requiredField">E-mail:<span class="asteriskField">*</span></label>
            <input type="email" name="email" class="textinput form-control" placeholder="name@example.com" style="width: 500px; height: 50px;"/>
        </div>
        <br>
        <div>
            <label for="msg" class="form-label requiredField">Mensagem:</label>
            <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite uma mensagem" style="width: 500px; height: 100px;"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <br>
    </div>
    
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>