{% extends "base.html" %} <!--herdando código da base-->
{% load crispy_forms_tags %}

{% block page_titulo %}
{% if tarefa.pk %}
  Editar Usuario
{% else %}
  Novo Usuario
{% endif %}   
{% endblock page_titulo %}

{% block conteudo %}
  {% if tarefa.pk %}
    <h1>Editar Usuario</h1>
  {% else %}
    <h1>Novo Usuario</h1>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
        
    {{ form|crispy }}
        
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>    
{% endblock conteudo %}